* {
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior:smooth;
}



body {

   /* background: linear-gradient(to bottom, #02030A, #0A1A2F); */
  background: linear-gradient(to bottom, #020a5a, #0260b3);
}

/* Nav bar styles */

#humb {
    display: none;
}

.navbar {
    background-color:inherit;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0px;
    width: 100%;
}

.divlogo {
    font-size: 30px;
    color: white;
    margin-left: 20px;
    width: 250px;
    flex-shrink: 0;
}


.divleft {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 5%;
    margin-right: 3%;
}

.login {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logoutbtn {
    margin-left: 10px;
    width: 70px;
    padding: 2px;
    color: white;
    background-color: rgb(17, 130, 235);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.divleft a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.divleft a:hover {
    text-decoration: underline;

}


.searchsection {
    position: sticky;
    top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    z-index: 3;
}

.divsearch {
    width: 100%;
    height:40px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 0px;

}

#navinput {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    margin:0px;
    padding-left: 10px;
    font-size: 16px;
}

.searchbtn{
    height: 100%;
    width: 70px;
    border: none;
    margin:0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer; 
}

.searchbtn:hover {
    background-color: rgb(220, 220, 143);
}

.divsearch i {
    background-color: inherit;
    height: auto;
    width: 30px;
    border: none;
    margin:0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer; 
}


.searchsuggestions {
    position:absolute;
    top: 43px;
    left: 0px;
    background-color:rgba(10, 30, 80, 0.95);;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    color: black;
    border-radius: 5px;
}

.searchsuggestions p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 1000;
    color: #fff;
}

.suggestionitems {
    display: flex;
    flex-direction: column;
}


.suggestionitems a{
    padding: 10px;
    text-decoration: none;
    color: rgb(210, 200, 200);
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestionitems a:hover{
     background-color: rgb(32, 8, 244);
}

#suggerror {
    text-decoration: none;
    color: rgb(238, 104, 32);
    border-bottom: 1px solid #ddd;
    margin-bottom: 100px;
    position: absolute;
    top:20px
}

.prewsearched {
    position:absolute;
    top: 43px;
    left: 0px;
    background-color: rgba(10, 30, 80, 0.95);
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    color: black;
    border-radius: 5px;
}

#prewupper {
   display: flex;
   justify-content: space-between;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 15px;
   margin-bottom: 15px;

}

#prewupper p{
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #0185f9;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 400;
    cursor: pointer;
    color: #ece3e3;
}

#prewupper p:hover{
  background-color: #0aca4e;
}

.prewsearched p{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 1000;
    color: #fff;
}


.prewsearcheditems {
    display: flex;
    flex-direction: column;
}

.prewsearcheditems a{
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 224, 224);
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.prewsearcheditems a:hover{
     background-color: rgb(32, 8, 244);
}


.favsuggestions {
    position:absolute;
    top: 43px;
    left: 0px;
    background-color:rgba(10, 30, 80, 0.95);
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 5px;
    visibility: hidden;
}

.favhead {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    width: 95%;
}

.favsuggestions p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 1000;
    color: #fff;
}

.favitems {
    display: flex;
    flex-direction: column;
}


.favitems a{
    padding: 10px;
    text-decoration: none;
    color: rgb(220, 204, 204);
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.favitems a:hover{
     background-color: rgb(32, 8, 244);
}

.favclose {
    margin-top: 5px;
    cursor: pointer;
}

.favclose:hover {
    color: rgb(216, 51, 51);
    scale: 2;
}

#prew5, #sugg5, #fav5 {
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}


/* login page styles */
.logintab {
    position: fixed;
    top: 100px;
    left: 30%;
    border: 1px solid #181818;
    background-color: rgb(171, 171, 248);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    visibility: hidden;
    z-index: 4;
}

.closebtn {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
}

.closebtn:hover {
    color: red;
    scale: 1.5;
}

.logintab h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.logintab h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.logintab input {
    width: 60%;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.logintab button {
    width: 30%;
    height: 35px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(115, 164, 248);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.logintab button:hover {
    background-color: rgb(90, 130, 220);
}

.loginerror {
    color: red;
    margin-bottom: 10px;
    visibility: hidden;
}

.signupredirect {
    margin-bottom: 30px;
}
.signupredirect a {
    color: rgb(138, 76, 138);
    text-decoration: none;
    cursor: pointer;
}
.signupredirect a:hover {
    text-decoration: underline;
}

/* signup page styles */
.registertab {
    position: fixed;
    top: 100px;
    left: 30%;
    border: 1px solid #181818;
    background-color: rgb(171, 171, 248);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    visibility: hidden;
    z-index: 4;
}


.registertab h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.registertab h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.registertab input {
    width: 60%;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.registertab button {
    width: 30%;
    height: 35px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(115, 164, 248);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.registertab button:hover {
    background-color: rgb(90, 130, 220);
}

.registererror {
    color: red;
    margin-bottom: 10px;
    visibility: hidden;
}

.logindirect {
    margin-bottom: 30px;
}
.logindirect a {
    color: rgb(138, 76, 138);
    text-decoration: none;
    cursor: pointer;
}
.logindirect a:hover {
    text-decoration: underline;
}

/* user details */
.userdetail {
  position: absolute;
  top:20%;
  left:30%;
  background-color: rgb(158, 230, 230);
  width: 30%;
  height: 30%;
  border-radius: 5%;
  visibility: hidden;
  z-index: 6;

}

.userdetail h2 {
    text-align: center;
    margin-top: 3%;
    color: rgb(115, 82, 82);
    text-decoration: underline;
}

.userdetail ul {
    margin-top: 7%;
    margin-left: 30px;
    gap:10%
}

.dlist {
    margin-top: 4%;
    font: bold;
    color: #071029;

}

.dclose {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.dclose:hover {
    color: red;
    
}

.fa-solid {
    cursor: pointer;
}


/* page starting */

#greet {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 30px;
    background-color: inherit;
    color: rgb(145, 184, 88);
}

.hero {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
    color: rgb(202, 138, 138);
}


/* WEATHER BOX  */
.weather-box{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    height: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding:18px;
    border-radius:14px;
    background:rgba(10, 225, 222, 0.09);
    display:flex;
    gap:18px;
    align-items:center;
    justify-content:space-between;
    border:1px solid rgba(255,255,255,0.04);
    scroll-margin-top: 95px ;
}
 
.heart {
    position: absolute;
    top: 15px;
    right: 25px;
    scale: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.error {
   font-size: 20px;
   position: fixed;
   top:50%;
   left:50%;
   transform: translateX(-50%);
   padding: 30px;
   border-radius: 10px;
   color: #fff;
   background-color: rgba(233, 66, 66,0.9);
   z-index: 7;
   visibility: hidden;

}


.left {
    display: flex;
    flex-direction: column;
} 

#curr {
    color: #fff;
    position: absolute ;
    top: 10px;
    
    
}

#cityName{
    font-size:50px;
    margin-bottom:6px;
    color:#fff;
    position: absolute;
    top: 10px;
}

#currentDate{
    color:#fff;
    margin-bottom:5px
}
#currenttime{
    color:#fff;
    margin-bottom:120px
}

.main-temp{
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    
    gap:5px;}

#temperature{
    font-size:2.6rem;
    font-weight:800;
    color:#fff;
    margin-bottom: 60px;
}

#switch {
    border:none;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    background-color: #1b2bdf;
    color: #2f9e9c;
    cursor: pointer;
}

#switch:hover{
    background-color: rgb(12, 202, 78);
}

.iconinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherIcon{
    font-size:2.2rem;
    background:rgba(255,255,255,0.02);
    padding:10px;
    border-radius:10px;
    color:blue;
    scale: 2.5;
}

#weatherDescription{
    color:#fff;
    margin-top:6px;
    font-size: 16px;
}


.extra-info{
    width: 200px;
    display:flex;
    flex-direction:column;
    gap:10px}

.extra-info p{
    background:rgba(0,0,0,0.15);
    padding:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    color:#fff;
}

/* ABOUT SECTION */
.about-section {
    border: 0.3px solid black;
    color: #fff;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 40px 20px;
    background-color: rgba(0, 3, 11, 0.09);
    text-align: center;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    scroll-margin-top: 95px ;
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    line-height: 22px;
    margin: 10px auto;
    max-width: 700px;
}

.about-icons {
    margin-top: 20px;
    font-size: 35px;
}

.about-icons i {
    margin: 0 10px;
    color: #333;
}

/* CONTACT SECTION */
.contact-section {
    border: 0.3px solid black;
    border-radius: 10px;
    width: 80%;
    padding: 40px 20px;
    background-color: rgba(0, 3, 11, 0.09);
    text-align: center;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    scroll-margin-top: 95px ;
    margin-bottom: 20px;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

.contact-section p {
    font-size: 16px;
    line-height: 22px;
    margin: 8px auto;
    max-width: 700px;
    color: white;
    text-align: left;
}

.contact-details {
    margin-top: 10px;
    font-size: 20px;
}

.contact-details i {
    margin-right: 8px;
    color: #2f9e9c;
}

/* SOCIAL ICONS */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons .social {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.social-icons .social:hover {
    color: #2f9e9c;
}

/* BACK TO TOP BUTTON */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #1b2bdf;
    color: white;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#backToTop:hover {
    background-color: #0aca4e;
}

#top {
    width: 100%;
    height: 0.1px;
}

@media (max-width: 768px) {

 body{
    display: flex;
    flex-direction: column;
    align-items: center;
 }   

.navbar{
      flex-direction: column;
      z-index: 11;
      left:0;
}

.divlogo{
    margin-top: 12px;
    font-size: 35px;
    width: 230px;
    z-index: 11;
}

.divleft{
    top: 0px;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    margin: 0px;
    transform: translateX(-100%);
    background-color: rgba(7, 1, 68, 0.9);
    width: 180px;
    align-items: center;
    gap: 14px;
    padding-top: 80px;
    z-index: 10;
    height: 100vh;
    margin-bottom: 0px;
    
}

.divleft a{
    border-bottom: 1px solid rgb(66, 60, 60);
    text-align: center;
    width: 100%;
    
}

#humb {
    display: inline;
    position: fixed;
    top: 20px;
    left: 20px;
    scale: 1.7;
    color: rgb(143, 137, 137);
    z-index: 15;
}



.searchsection {
   width: 90vw;
   margin: 0px;
   margin-top: 20px;
   transform: translateX(0%);
}

.logintab{
    width: 70%;
    left:15%;
}

.registertab{
    width: 70%;
    left:15%;
}

#greet{
    margin: 0px;
    margin-top: 90px;
}

.hero{
    margin:0px;
    margin-top: 40px;
    width: auto;
    transform: translateX(0%);

}

.hero h1 {
    font-size: 25px;
}

.weather-box{
    margin: 0px;
    transform: translateX(0%);
    margin-top: 30px;
    flex-direction: column;
    height: auto;
}

#cityName{
   margin: 0;
   top:15px;
   left:20px;

}

.left{
    align-self: flex-start;
}

#currentDate{
    margin-top: 110px;
}

#currenttime{
    margin-bottom: 190px;
   
}

.main-temp{
    right: 20px;
    top:170px;
}

#temperature{
    margin-bottom: 5px;
}



.extra-info{
    
    justify-content: space-evenly;
    margin-top: 60px;
    width: auto;

}

.about-section{
    margin: 0px;
    margin-top: 80px;
    transform: translateX(0%);
    text-align: justify;
}

.about-section h2{
    font-size: 25px;
}

.contact-section{
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translateX(0%);

}


}















